{% import "bootstrap/wtf.html" as wtf %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,900;1,900&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AI 호감도 테스트</title>

    <!-- CSS 스타일시트 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- 폰트 아이콘 -->
    <script src="https://kit.fontawesome.com/47075e04b5.js" crossorigin="anonymous"></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-62f21f8d733cd421"></script>

    <!--    naver meta-->
    <meta name="naver-site-verification" content="6fc5eedb75d44993b6153e964be3cc9c7010c410" />
    <meta name="description" content="상대방 행동 또는 카톡 내용을 통하여 AI가 얼마나 호감도가 있는지 분석해 주는 사이트입니다. 상대방이 어장관리하는지 알고싶을때 테스트해 보세요">
    <link rel="canonical" href="https://sensitivitytest.herokuapp.com/">

    <meta property="og:title" content="Ai 호감도 테스트">
    <meta property="og:description" content="AI가 분석해주는 호감도 , 어장관리 , 관심도 테스트 !">

<!--    google-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5759458164960710"
     crossorigin="anonymous"></script>

</head>

<body>

  <section id="title">
    <div class="container-fluid">

    <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand title_name" href="">favorability test</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#features">start</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#pricing">Pricing</a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="#disqus_thread">comment</a>
            </li>

        </div>
      </nav>
{% if istrue == False: %}
      <div class="row">
        <div class="col-lg-6" >
        <h1 class="title-text">AI 호감도 테스트 <br><br>상대방의 행동,말,메시지를 인공지능이 분석하여 호감도를 분석합니다.</h1>

      </div>
      <div class="col-lg-6 ">
        <img class="title-img"src="static/img/1836845.png" alt="iphone-mockup">
      </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if istrue == True: %}
      <div class="row">
        <div class="col-lg-12" >
        <h1 class="title-text">AI 호감도 테스트가 완료 되었습니다.</h1>
        <button type="button" class="btn btn-light btn-lg download_btn  "> <a href="#result">측정된 호감도 보러가기!</a></button>
      </div>

      </div>
  </section>
    {% endif %}

  <!-- Features -->

  <section id="features">
    <div class="container-fluid">

      <div class="row">
        <div class="features-box col-lg-4" >
          <h3><i class="fa-solid fa-circle-check "></i> <br> 이거 어장관리야? <br> </h3>
          <p>어항 탈출..</p>
          </div>
        <div class="features-box col-lg-4" >
          <h3><i class="fa-solid fa-bullseye"></i> <br>썸인지 헷갈린다면</h3>
          <p>나 혼자만 썸인가..?</p>
          </div>
        <div class="features-box col-lg-4" >
          <h3><i class="fa-solid fa-heart"></i> <br>지금 당장 <br>확인하세요!</h3>
          <p>답답한 마음 Ai에게 물어보세요.</p>
          </div>

          </div>
    </div>

  </section>


  <!-- add -->
<section id="testimonials">

<ins class="kakao_ad_area" style="display:none;"
     data-ad-unit    = "DAN-bMNPsJ3c6h9xECLE"
     data-ad-width   = "728"
     data-ad-height  = "90"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
  <div>
    <ins class="kakao_ad_area" style="display:none;"
     data-ad-unit    = "DAN-vuTjP29ezN0Xkr9v"
     data-ad-width   = "300"
     data-ad-height  = "250"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

    <ins class="kakao_ad_area" style="display:none;"
     data-ad-unit    = "DAN-urJlowIa2xEpt1wG"
     data-ad-width   = "300"
     data-ad-height  = "250"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
  </div>
</section>



  <section id="result">
    <div class="container-fluid">
      {% if istrue == False: %}
    <h2>마음을 확인하고 싶은 상대가 나에게 했던 행동<br>또는 메시지 내용을 한줄씩 작성해주세요.</h2>
    <p>문장 형식으로 5개 필드를 채워주세요.</p>
    {{ wtf.quick_form(form) }}

      {% endif %}

      {%if istrue == True%}
      <img class="result-img"src="static/img/ai.png" alt="ai-mockup">
      <br>
      <h2 class="result-title">상대방이 나에 대해 느끼는 호감도는 {{Positive_percent}}% 입니다.<h2>
        <br>
        <h4 class="result-subtitle">{{ result_message }}</h4>
        <br>
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_inline_share_toolbox"></div>

      {% endif %}
    </div>

  </section>


  <!-- Call to add -->

  <section id="cta">
    <div class="container-fluid">
    <div class="col-lg-12" >
    <a href="https://link.coupang.com/a/vifOI" target="_blank" referrerpolicy="unsafe-url"><img src="https://ads-partners.coupang.com/banners/599383?subId=&traceId=V0-301-879dd1202e5c73b2-I599383&w=728&h=90" alt=""></a>
      </div>
    <div class="col-lg-12" >
      <script src="https://ads-partners.coupang.com/g.js"></script>
      <script>
          new PartnersCoupang.G({"id":599383,"template":"banner","trackingCode":"AF8823407","width":"728","height":"90"});
      </script>

    </div>
  </div>

  </section>

     <!-- 댓글 창 -->
      <div id="disqus_thread"></div>
        <script>
          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
          /*
          var disqus_config = function () {
          this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          */
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://hgyouing.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
      </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  <!-- Footer -->

  <footer id="footer">
    <a class="link" href="https://twitter.com/"><i class="footer-btn fa-brands fa-twitter fa-xl"></i></a>
    <a class="link" href="https://www.facebook.com/"><i class="footer-btn fa-brands fa-facebook-square fa-xl"></i></a>
    <a class="link" href="https://www.instagram.com/"><i class="footer-btn fa-brands fa-instagram fa-xl"></i></a>

    <p>© Copyright 2022 interest test</p>

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


</body>

</html>
